body {
  background-color: #00aaff;
}

hr {
  color: black;
}

h1 {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  color: #0000aa;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

#regle {
  text-align: justify;
  font-size: 25px;
  margin: 10px;
}

#choix {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

#jou1, #jou2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
